<!--
.bandeau_sommaire { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: medium; font-style: normal; font-weight: normal; font-variant: normal; text-transform: capitalize; color: #666666; background-color: #CCCCCC; text-align: center; vertical-align: middle; border: thin outset; text-decoration: none; border-color: #999999 0utset}
BODY {MARGIN: 0px; }
-->